In [84]:
import tweepy
import csv
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import numpy as np 
import re
import matplotlib.pyplot as plt
import sklearn
plt.style.use('fivethirtyeight')

In [85]:
faketweets = pd.read_csv(r'C:\Keziah\Ukraine Tweets\filename.csv', encoding="utf8")
faketweets

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1502525606596169728,1502257690394963971,2022-03-12 06:03:14 UTC,2022-03-12,06:03:14,0,20198797,redcelia,Johnson Outüá∫üá¶ üá™üá∫üáÆüáπüá¶üá´üíôüò∑ #NeverVoteTory,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'RussianEmbassy', 'name': 'Ru...",NaN,NaN,NaN,NaN
1,1502525604536541191,1502525604536541191,2022-03-12 06:03:14 UTC,2022-03-12,06:03:14,0,227535569,eee_eff,Wearing Masks still saves lives üá∫üá¶üá≤üá®üè•üåπüåπ,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1502525600917082112,1502525600917082112,2022-03-12 06:03:13 UTC,2022-03-12,06:03:13,0,84313171,mistify_007,Brianü§∏‚Äç‚ôÄÔ∏è,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1502525598282960898,1502214676561776642,2022-03-12 06:03:12 UTC,2022-03-12,06:03:12,0,989861790245900289,reallivinghuman,Basha,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'RussianEmbassy', 'name': 'Ru...",NaN,NaN,NaN,NaN
4,1502525596898836480,1500436651264380931,2022-03-12 06:03:12 UTC,2022-03-12,06:03:12,0,1164944946392109056,rpcsas,RonJon,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'IsraeliPM', 'name': 'Prime M...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10001,1502509750776442882,1502509750776442882,2022-03-12 05:00:14 UTC,2022-03-12,05:00:14,0,3985609575,magpieuae,magpie,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
10002,1502509748666699779,1502475873152376836,2022-03-12 05:00:14 UTC,2022-03-12,05:00:14,0,1502371278442967040,30kftview,Michael J. Hueppeler,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'SantiagoAuFund', 'name': 'Sa...",NaN,NaN,NaN,NaN
10003,1502509748440244225,1502477543877877764,2022-03-12 05:00:13 UTC,2022-03-12,05:00:13,0,10487222,claes69,"Tom Mater üåª–†—É—Å—Å–∫–∏–π –∫–æ—Ä–∞–±–ª—å, –∏–¥–∏ –Ω–∞—Ö—É–π",NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'IWasTheGoodGuy', 'name': 'Ga...",NaN,NaN,NaN,NaN
10004,1502509747626516481,1502509747626516481,2022-03-12 05:00:13 UTC,2022-03-12,05:00:13,0,1181472344,businesstimes,The Business Times,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
10005,1502509747483852803,1502508568314093569,2022-03-12 05:00:13 UTC,2022-03-12,05:00:13,0,2195557854,malianking,MalianKing,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Independent', 'name': 'The I...",NaN,NaN,NaN,NaN

SyntaxError: unexpected character after line continuation character (3320101569.py, line 1)